body {
  background: red;
}

#viewport {
  background: green;
  color: white;
}

#viewport:after,
#viewport:before {
  display: table;
  content: "End of viewport";
  background: darkgreen;
  color: white;
  position: absolute;
  bottom: 0;
  width: 50vw;
  left: 50%;
  text-align: center;
  margin-left: -25vw;
  opacity: 0.5;
}

#viewport:before {
  bottom: auto; 
  top: 0;
  content: "Beginning of viewport"
}

input.demo {
  display: block;
}

.partial_viewport {
  background: darkgreen;
  color: white;
  padding: 25px;
  box-sizing: border-box;
  display: block;
  height: calc(var(--100vvh, 100vh) * 0.2);
  width: calc(var(--100vvw, 100vw) * 0.2);
  position: absolute;
  top: 50%;
  margin-top: calc(var(--100vh, 100vh)/-20);
  right: 0;
}